body {
	margin: 0px;
	padding: 0px;
	font-family: Montserrat, sans-serif;;
}
/*Header*/


h3 {
	font-size: 22px;
	color: #535e5a;
}
h4 {
	font-size: 18px;
	color: #535e5a;
}
p {
	margin: 0;
}
.main-header {
	position: relative;
	height:  450px;
	
	
	background-image: url(../img/klaviatura-kompyutera-foto.jpg);
	background-position: bottom center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 0px;
}
.main-header:after {
	content: "";
    background-color: rgba(55, 48, 27, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.container {
	width: 1000px;
	margin: 0 auto;
	padding: 0 10px;
}
.main-header > .title { 
	z-index: 2;
	margin: auto;
    position: absolute;
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0;
	width: 600px;
	height: 200px;
	color: #68c3a3;
	text-align: center;
	border-radius: 5px;
}
h1 {
	font-size: 50px;
	    color: #52b3d9;
	font-family: Helvetica;
}
span {
	color: #68c3a3;
}
.title p {
	color:#dfdfdf;
	font-size: 20px;
	padding-bottom: 30px;
}
.menu {
	position: relative;
	top: 390px;
	height: 60px;
}
nav {
	z-index: 3;
    position: absolute;
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0;
	background: rgba(0,0,0,0.4);
	height: 60px;
	text-align: center;
}
nav ul {
	margin: 0;
}
nav li {
	padding: 20px;
	vertical-align: middle;
	text-decoration: none;
	display: inline-block;
	color: black;
	margin-right: 40px;
	font-size: 17px;
	font-weight: 500;
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear;
	transition: background 0.3s ease;
}
nav  a { 
	text-decoration: none;         
	color:#dfdfdf;
	
}   
nav li:hover {
	background: rgba(0,0,0,.6);
}

                                /*End Header*/

.light-container {                     /*About*/
	margin-top: 0;
	height: 1880px;
	background-color: ;
}

.about-title {
	margin: 0;
	padding: 60px;
	text-align: center;
}
h2 {
	padding: 40px;
	font-size: 30px;
	color: #535e5a;
}
.about-block {
	display: block;
	height: 400px; 
	width: 1000px;
	line-height: 1.5;
}
.autor {
	display: block;
	float: left;
	margin-left: 50px; 
	width: 220px;
	height: 400px;

}
.image {
	overflow: hidden;
	width: 220px;
	height: 220px;
	padding-top: 40px;
	padding-left: 10px;
} 
.image img {
	-moz-transition: all 1s ease-out;
 	-o-transition: all 1s ease-out;
 	-webkit-transition: all 1s ease-out;
	border-radius: 50%;
}
.image img:hover {
 	-webkit-transform: scale(1.07);
 	-moz-transform: scale(1.07);
 	-o-transform: scale(1.07);
 }
.inpho-name {
	display: block;
	float: left;
	width: 220px;
	text-align: center;
}
.inpho-name h4{
	margin: 0;
}
.about-text {
	display: block;
	float: right;
	width: 550px;
	margin-right: 50px;
	text-align: left;
}   
.about-text h4 {
	margin-top: 0;
}                                /*END ABOUT
 
 /* ОБРАЗОВАНИЕ */
 .education {
 	height: 590px;
 	background-color: #f0f0f0;
 }
 .resume {
 	position: relative;
 	height: 410px;
 }
 .resume-2 {
 	height: 646px;
 }
 .resume:before {
    content: "";
    position: absolute;
    top: -11px;
    width: 10px;
    height: 10px;
    background-color: #68c3a3;
    left: 50%;
    margin-left: -6px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.resume:after {
    content: "";
    position: absolute;
    bottom: 62px;
    width: 10px;
    height: 10px;
    background-color: #68c3a3;
    left: 50%;
    margin-left: -6px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.timeline {
	position: relative;
    padding: 0;

}
.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 49.8%;
    width: 2px;
    background-color: #68c3a3;
    height: 350px;
}
.tml-2:before {
    height: 575px;
}
 .block-title {
 	padding: 50px 0;
	text-align: center;
 }
.row-content {
	width: 450px;
	background: #fff;
    border: 2px solid #eee;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: background 0.7s ease;
    -moz-transition: background 0.7s ease;
    -o-transition: background 0.7s ease;
    transition: background 0.7s ease;
}
.left-content {                     
    float: left;
    text-align: right;
    -webkit-box-shadow:1px 1px 2px #999;
	-o-box-shadow:1px 1px 2px #999;
	box-shadow: 1px 1px 2px #999;
}
 .right-content {
	float: right;
    text-align: left;
    -webkit-box-shadow:1px 1px 2px #999;
	-o-box-shadow:1px 1px 2px #999;
	box-shadow: 1px 1px 2px #999;
}
.row-content:hover   {
	background-color: #68c3a3;
    color: white;
}
.row-content:hover span,
.row-content:hover h4 {
	color: white;
}
.row-content:hover ~ .date h4 { 
	font-weight: 700; 
	color: #68c3a3;
}
.date {
	width: 450px;
}
.date-right {
	float: right; 
}
.date-left {
	float: left;
	text-align: right;
}
.date-1 {
	margin-top: 33px;
}
.date-2 {
	margin-top: 42px;
}
.timeline-content { 
	padding: 20px;
}
.timeline-content  h4 {
	margin-top: 0px;
	margin-bottom: 10px;
}
.timeline-content p {
	margin-top: 15px;
}

.timeline {
	position: relative;
}
.clearfix {
	display: table;
	clear: both;
	content: "";
	height: 30px;
}
                                 /*Навыки*/
.skills {
	position: relative;
	height: 406px;
}

.allcolumn {
	margin: 0 auto;
	width: 400px;
	height: 150px;
}
.column {
	width: 100px;
	height: 100px;
	-moz-transition: all 1s ease-out;
 	-o-transition: all 1s ease-out;
 	-webkit-transition: all 1s ease-out;
}
.column:hover {
	-webkit-transform: scale(1.07);
 	-moz-transform: scale(1.07);
 	-o-transform: scale(1.07);
}
.column h3 {
	color: #539c82;
	text-align: center;
}
.column-html {
	float: left;
}
.column-html img {
	width: 100px;
	height: 100px;
}
.column-css {
	float: right;
}
.column-css img {
	width: 100px;
	height: 100px;
}

.hobbies {         
	position: relative;                   /*ХОББИ*/
	height:  426px;
	background: url(../img/phonskills.jpeg);
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	border-top: 5px solid #346151;
	border-bottom: 5px solid #346151;
}
                             /*ХОББИ*/
.hobbies:after {
	content: "";
    background-color: rgba(43, 108, 76, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.hobbies-block {
	position: relative;
	z-index: 2;
}
.hobbies h3 {
	color: #dfdfdf;
} 
.allcolumn-hobbies {
	width: 1100px;
	margin: 0 auto;
}
.allcolumn-hobbies ul {
	padding: 0;
}
.allcolumn-hobbies li {
	position: relative;
	border: 5px solid #fff;
	border-radius: 50%;
	padding: 20px;
	display: inline-block;
	text-decoration: none;
	margin-right: 82px;
	background: rgba(198, 204, 200, 0.5);
	opacity: 0.8;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=80)"; 
	filter: alpha(opacity = 80); 
}

.allcolumn-hobbies li:last-child {
	margin-right: 0;
}
.allcolumn-hobbies img {
	height: 100px;
	width: 100px;
}
.descr {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(39, 49, 52);
	border-radius: 50%;
	color: #fff;
	/*padding-top: 50%;*/
	text-align: center;
	opacity: 0;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)"; 
	filter: alpha(opacity = 0); 
	-webkit-transition: all .5s ;
	-o-transition: all .5s ;
	transition: all .5s ;
}
li:hover .descr {
	display: block;
	opacity: 1;
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=1)"; 
	filter: alpha(opacity = 1); 
}
.descr p {
	padding-top: 45%;
}
.contact {
	height: 640px;
}
.clearfix {
	display: table;
	clear: both;
	content: "";
}
.contact-form {                    /* Форма контактов*/
	display: inline-block;
	float: left;
	width: 402px;
}
.form-group {
	width: 402px;
	margin-bottom: 15px;
}	
label {
	display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;
    margin-top: 0px;
    font-weight: 700;
    color: #535e5a;
    font-size: 18px;
}
.form-control{
	height: 45px;
    background-color: #f7f7f7;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    width: 400px;
    padding-left: 10px;
}
.textarea {
	padding-top: 10px;
	height: 108px;
}
.btn-submit {
	border-radius: 5%;
    border-bottom: 3px solid ;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    line-height: 28px;
    padding: 15px 30px;
	background-color: #68c3a3;
    border-color: rgba(51, 51, 51, 0.15);
}   
.adress {                                   /*АДРЕС И КАРТА*/
	display: inline-block;
	float: right;
	width: 400px;
	height: 400px;
	
}
.google-map {
	display: block;
	float: right;
	width: 450px;
	height: 428px;
}
.google-map h3 {
	font-size: 18px;
	margin-top: 0px;
    margin-bottom: 15px;
	text-align: center;
}
#map {
    width: 100%;
    height: 385px;
    
}
.main-footer {
	height:  270px;
	background: #dbdbdb;
	-webkit-box-shadow:0 -10px 70px #ececec;
	-o-box-shadow:0 -10px 70px #ececec;
	box-shadow: 0 -10px 70px #ececec;
}
.footer-top {
	height: 170px;
	padding-top: 30px;
}
.footer-email {
	float: left;
}
.footer-email a {
	text-decoration: none;
}
.footer-social-promo {
	float: right;
}
.footer-social {
	width: 250px;
	height: 30px;
	font-size: 0;
	text-align: center;
}
.social-btn {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	padding-right: 10px;

}
.btn-vk {
	background-image: url("../img/vk.png");
	background-repeat: no-repeat;
}
.footer-bottom {
	height: 50px;
	padding-top: 20px;
	text-align: center;
}
.btn-fb {
	background-repeat: no-repeat;
	background-image: url("../img/facebook.png");
}
.btn-tg {
	background-repeat: no-repeat;
	background-image: url("../img/telegram.png");
}
